h1{
    color:#fff;
    align-content: center;
    padding-top: 20px;
    font-weight: bold !important;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-bottom: 10px;
}
.heading{
    height:0px !important;
}
.aboutus{
    background-color: #ac8f69;
}
.aboutus p{
    font-size:20px;
    vertical-align: middle;
    font-family:Georgia, 'Times New Roman', serif;
    line-height: 45px;
    color: #fff;
    margin-bottom:0px !important;

}
.aboutt{
    /* width: min(1535px,100%) !important; */
    max-width: 1535px !important; 
}

@media(max-width:280.5px){
    .aboutt{
        max-width: 100vw !important;
    }
}