.containers{
    z-index: -100;
    margin-top: -80px;
    width: min(1535px,100%) !important;
}
.mav{
    color: black;
    font-size: 4rem;
    font-weight:700;
}
.mav_descp{
    font-size: 1.2rem;
    color: #000;
}

.more_info{
    border-radius: 50px !important;
    margin-top: 50px !important;
    cursor:pointer !important;
}

.Img_Description{

    align-items: left;
    padding-left: 100px !important;
  
}
.slider_row{
    padding-top: 80px;
}
.Main_Im{
    width: 450px;
    height: 450px;
    position: relative;
    right: -60px;
}

.slider_list{
    list-style: none;
    display: flex;
    gap:3px;
    width: 700px;
}

.slider_list li{
    cursor: pointer !important;
    transition: 0.5s;
    border: 2px solid white;
    height:75px;
    background: rgba(255,255,255,0.1);
}

.slider_list li a, .slider_list li a:hover{
    color: white;
}
.slider_list img{
    width: 70px;
    height: 70px;
}

.Main{
    position: relative;
    top:70px;
    right:100px;
}
@media(max-width:1025px){
    .Main_Im{
        right: -40px;
    }
}

@media(max-width: 768.5px){
    .Img_Description{
        padding-left: 60px !important;
    }
    .slider_list{
        gap:5px;
        position: relative;
        left: 10px;
        width:600px;
    }
    .slider_list li{
        width:60px;
        height:60px;
    }
    .slider_list img{
        width: 50px;
        height: 50px;
    }
    .Main_Im{
        left: 190px;
    }
}

@media(max-width:426px){
    .slider_list{
        gap:5px;
        position: relative;
        left: -100px;
        width:200px;
    }
    .slider_list li{
        width:40px;
        height:40px;
    }
    .slider_list img{
        width: 35px;
        height: 35px;
    }
    .Main_Im{
        left: 10px;
        width: 350px;
        height:350px;
    }
    .more_info{
        margin-left: 100px;
    }
    .containers{
        max-width: 425px !important;
    }
}

@media(max-width: 411.5px){
    .containers{
        max-width: 411px !important;
    }
}


@media(max-width:393.5px){
    .slider_list{
        left:-93px !important;
    }
}
@media(max-width: 376px){
    .slider_list{
        gap:5px;
        position: relative;
        left: -125px;
        width:100px;
    }
    .slider_list li{
        width:35px;
        height:35px;
    }
    .slider_list img{
        width: 30px;
        height: 30px;
    }
    .Main_Im{
        left: 10px;
        width: 300px;
        height:300px;
    }
    .more_info{
        margin-left: 30px;
    }
    .containers{
        max-width: 425px !important;
    }
    .Img_Description{
        padding-left: 20px !important;
    }

}

@media (max-width: 321px){
    .slider_list{
        gap:5px;
        position: relative;
        left: -100px;
        width:95px;
    }
    .slider_list li{
        width:30px;
        height:35px;
    }
    .slider_list img{
        width: 25px;
        height: 25px;
    }
    .Main_Im{
        left: 10px;
        width: 270px;
        height:270px;
    }
    .more_info{
        margin-left: 100px;
    }
    .containers{
        max-width: 320px !important;
    }
}

@media(max-width: 280.5px){
    .containers{
      max-width:280px !important;
    }
    .more_info{
        padding:10px !important;
        margin-top: 30px !important;
    }
    .slider_list{
        gap:5px;
        position: relative;
        left: -80px;
        width:95px;
    }
    .slider_list li{
        width:25px;
        height:30px;
    }
    .slider_list img{
        width: 20px;
        height: 20px;
    }
    .Main_Im{
        left: 10px;
        width: 250px;
        height:250px;
    }

  }
