@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
* {
  font-family: "Montserrat", sans-serif;
}

.back{
  position: relative;
  top: 200px;
}

.Navbar {
  background-color: white;
  width: 100%;
  height: 95px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 100;
}

.page-hero{
  transition: 0s linear;
  position: relative;
  z-index: -1;
  width: 100%;
}
.ham{
margin-right: 50px;
}
.secondary_navbar{
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  width:100%;
  height:100vh;
  position: absolute;
  top:95px;
} 

.navbar-collapse{
  position: absolute !important;
  top:95px !important;
  transition:         all 0.096s  ease-out !important;
  -webkit-transition: all 0.096s ease-out;
  -moz-transition:    all 0.096s ease-out;
  -o-transition:      all 0.096s ease-out;
}


.logoimg{
  margin-left: 100px;
}
.navbar-nav{
  margin-top: 300px;
}

.Navbar img {
  width: 200px;
  height: 60px;
  margin-right: auto;
}

.Navbar .log {
  display: block;
}

.Navbar .phones {
  background-color: rgba(172, 143, 105, 0.5);
}

.Navbar .logs {
  background-color: rgba(172, 143, 105, 0.5);
  margin: 0 20px;
}

.search{
  margin-left: 800px !important;
}

.cart {
  width: 80px;
}

.buy_prod:hover{
color: black;
text-decoration:underline;
}
 .buy_prod{
  color: black;
  }
  

.secondary_items{
  margin-top: 15px;
  color: black !important;
}


@media (max-width: 800px){

  .logoimg{
    margin-left: 40px;
  }

}

@media (max-width:694px){
.Navbar{
  width: 106vw;
}
.Navbar .cart{
  display: none;
}
.Navbar .phones{
display: none;
}
.Navbar .logs{
  display: none;
}
}

  
@media (max-width:500px){
    .Navbar .cart{
      display: none;
  }
  .Navbar .phones{
    display: none;
  }
  .Navbar .logs{
    display: none;
  }
  .Navbar{
    width: 153vw;
  }
  .Navbar img{
    margin-left: 180px;
  }
  @media (max-width: 400px){
    .Navbar{
      width: 100vw;
    }
  }
}

/* Parallax */

.hero {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

/* .text-wrapper {
  text-align: center;
} */

/* .headline {
  font-size: 15rem;
  color: blueviolet;
  font-weight: 100;
  line-height: 0.5;
}

.headline::first-letter {
  font-size: 20rem;
}

.sub-headline {
  font-size: 10rem;
  text-transform: uppercase;
  color: white;
} */

.parallax {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.overflow {
  height: 200vh;
}


